<div class="row">
    <div class="col-xl-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        {{'PROFILE.CHANGEPASSWORD.TITLE'|translate}}
                        <small>
                            {{'PROFILE.CHANGEPASSWORD.DESC'|translate}}
                        </small>
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <button type="button" [disabled]="isSaving"
                            class="mr-2 btn btn-label-success btn-sm pull-right"
                            [ngClass]="{'kt-spinner kt-spinner--right
                            kt-spinner--md kt-spinner--success':
                            isSaving}" (click)="onSubmit()">
                            {{'BUTTON.CHANGEPASSWORD' | translate}}
                        </button>
                        <button type="button" [disabled]="isSaving"
                            class="btn btn-secondary btn-sm pull-right"
                            (click)="resetFrom()">
                            {{'BUTTON.RESET' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <form class="kt-form kt-form--label-right" [formGroup]="cPForm"
                autocomplete="off">
                <fieldset [disabled]="isSaving">
                    <div class="kt-portlet__body">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3
                                        col-form-label">
                                        {{'PROFILE.CHANGEPASSWORD.CURRENTPASSWORD'|translate}}
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input [ngClass]="{'is-invalid':
                                            isControlHasError('oldPassword','required')}"
                                            type="password" class="form-control"
                                            formControlName="oldPassword"
                                            autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3
                                        col-form-label">
                                        {{'PROFILE.CHANGEPASSWORD.NEWPASSWORD'|translate}}
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input [ngClass]="{'is-invalid':
                                            isControlHasError('newPassword','required')}"
                                            type="password" class="form-control"
                                            formControlName="newPassword"
                                            autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group form-group-last row">
                                    <label class="col-xl-3 col-lg-3
                                        col-form-label">
                                        {{'PROFILE.CHANGEPASSWORD.VERIFYPASSOWRD'|translate}}
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input [ngClass]="{'is-invalid':
                                            isControlHasError('verifyPassword','required'),
                                            'is-valid':isPasswordMatch('newPassword','verifyPassword')==true,'is-invalid':isControlHasError('verifyPassword','required')
                                            ||!isPasswordMatch('newPassword','verifyPassword')}"
                                            type="password" class="form-control"
                                            formControlName="verifyPassword"
                                            autocomplete="off" />
                                        <div class="error invalid-feedback"
                                            *ngIf="!isControlHasError('verifyPassword','required')
                                            ||
                                            !isPasswordMatch('newPassword','verifyPassword')">
                                            {{
                                            'PROFILE.CHANGEPASSWORD.VALIDATION.PASSWORDNOTMATCH'|translate
                                            }}
                                        </div>
                                        <div class="success valid-feedback"
                                            *ngIf="isPasswordMatch('newPassword','verifyPassword')==true">
                                            {{
                                            'PROFILE.CHANGEPASSWORD.VALIDATION.PASSWORDMATCH'|translate
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot" [hidden]="true">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-3 col-xl-3">
                                </div>
                                <div class="col-lg-9 col-xl-9">
                                    <button type="button" class="btn
                                        btn-secondary btn-sm pull-right"
                                        (click)="resetFrom()">
                                        {{'BUTTON.RESET' | translate}}
                                    </button>
                                    <button type="button" class="mr-2 btn
                                        btn-label-success btn-sm pull-right"
                                        [ngClass]="{'kt-spinner
                                        kt-spinner--right
                                        kt-spinner--md kt-spinner--success':
                                        isSaving}" (click)="onSubmit()">
                                        {{'BUTTON.CHANGEPASSWORD' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>