<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>{{ 'AUTH.FORGOT.TITLE' | translate }}</h3>
		</div>
		<kt-auth-notice></kt-auth-notice>
		<form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off">
			<div class="form-group">
				<input class="form-control"
					[ngClass]="{'is-invalid': isControlHasError('email','required') ||
					isControlHasError('email','email') ||
					isControlHasError('email','minlength') ||
					isControlHasError('email','maxlength')}"
					type="email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}"
					formControlName="email"
					autocomplete="off" />
				<div class="error invalid-feedback"
					*ngIf="isControlHasError('email','required')">
					{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}
				</div>
				<div class="error invalid-feedback"
					*ngIf="isControlHasError('email','email')">
					{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}
				</div>
				<div class="error invalid-feedback"
					*ngIf="isControlHasError('email','minlength')">
					{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3
				</div>
				<div class="error invalid-feedback"
					*ngIf="isControlHasError('email','maxlength')">
					{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320
				</div>
			</div>
			<!--begin::Action-->
			<div class="kt-login__actions">
				<button routerLink="/auth/login" [disabled]="loading"
					id="kt_login_signup_cancel"
					class="btn btn-secondary btn-sm btn-upper btn-bold">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
				<button (click)="submit()" id="kt_login_signin_submit" class="btn
					btn-outline-brand btn-sm btn-upper btn-bold"
					[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md
					kt-spinner--brand': loading}">
					{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }} <i class="fas fa-key"></i>
				</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>